<?xml version="1.0"?>
<!--
Copyright (c) 2018, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
    <arg name="node_name_1"          default="zed_node_1" />
    <arg name="node_name_2"          default="zed_node_2" />
    <arg name="camera_model_1"       default="zed" /> <!-- 'zed' or 'zedm' -->
    <arg name="camera_model_2"       default="zedm" /> <!-- 'zed' or 'zedm' -->
    <arg name="publish_urdf"         default="true" />

    <group ns="zed_1">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="node_name"           value="$(arg node_name_1)" />
            <arg name="camera_model"        value="$(arg camera_model_1)" />
            <arg name="publish_urdf"        value="$(arg publish_urdf)" />
            <arg name="camera_id"           value="0" />
            <arg name="gpu_id"              value="0" /> <!-- First camera on GPU 0 -->
        </include>
    </group>

    <group ns="zed_2">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="node_name"           value="$(arg node_name_2)" />
            <arg name="camera_model"        value="$(arg camera_model_2)" />
            <arg name="publish_urdf"        value="$(arg publish_urdf)" />
            <arg name="camera_id"           value="1" />
            <arg name="gpu_id"              value="1" /> <!-- Second camera on GPU 1 -->
        </include>
    </group>
</launch>
