<?xml version="1.0"?>
<!--
Copyright (c) 2018, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="zed_camera">

<!-- base_link -->
    <link name="base_link" />

<!-- Camera Center -->
    <joint name="zed_camera_center_joint" type="fixed">
        <parent link="base_link"/>
        <child link="zed_camera_center"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="zed_camera_center">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://zed_wrapper/urdf/models/ZED.stl" />
            </geometry>
            <material name="light_grey">
                <color rgba="0.8 0.8 0.8 0.8"/>
            </material>
        </visual>
    </link>

<!-- Left Camera -->

    <joint name="zed_left_camera_joint" type="fixed">
        <parent link="zed_camera_center"/>
        <child link="zed_left_camera_frame"/>
        <origin xyz="0 0.06 0" rpy="0 0 0" />
    </joint>

    <link name="zed_left_camera_frame" />

    <joint name="zed_left_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/>
        <parent link="zed_left_camera_frame"/>
        <child link="zed_left_camera_optical_frame"/>
    </joint>

    <link name="zed_left_camera_optical_frame"/>

<!-- Right Camera -->

    <joint name="zed_right_camera_joint" type="fixed">
        <parent link="zed_camera_center"/>
        <child link="zed_right_camera_frame"/>
        <origin xyz="0 -0.06 0" rpy="0 0 0" />
    </joint>

    <link name="zed_right_camera_frame" />

    <joint name="zed_right_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/>
        <parent link="zed_right_camera_frame"/>
        <child link="zed_right_camera_optical_frame"/>
    </joint>

    <link name="zed_right_camera_optical_frame"/>
    
</robot>
