<?xml version="1.0"?>
<!--
Copyright (c) 2017, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>

    <!-- Odometry coordinate frame -->
    <arg name="odometry_frame"        default="map" />

    <arg name="zed_id1"               default="0" />
    <arg name="zed_id2"               default="1" />

    <!-- First ZED camera on GPU 0 -->
    <group ns="zed_GPU0">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="zed_id"                value="$(arg zed_id1)" />
            <!-- Set GPU -->
            <arg name="gpu_id"                value="0" />
            <!-- compliant mode for rviz -->
            <arg name="odometry_frame"        value="$(arg odometry_frame)" />
        </include>
    </group>

    <!-- Second ZED camera on GPU 1 -->
    <group ns="zed_GPU1">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="zed_id"                value="$(arg zed_id2)" />
            <!-- Set GPU -->
            <arg name="gpu_id"                value="1" />
            <!-- compliant mode for rviz -->
            <arg name="odometry_frame"        value="$(arg odometry_frame)" />
        </include>
    </group>

</launch>
