<launch>

  <arg name="svo_file1" default=""/> <!-- <arg name="svo_file1" default="path/to/svo/file.svo"> -->
  <arg name="svo_file2" default=""/>

  <!-- First ZED camera -->
  <group ns="zed1">
    <include file="$(find zed_wrapper)/launch/zed_camera.launch">
      <arg name="svo_file" value="$(arg svo_file1)" />
    </include>
  </group>

  <!-- Second ZED camera -->
  <group ns="zed2">
    <include file="$(find zed_wrapper)/launch/zed_camera.launch">
      <arg name="svo_file" value="$(arg svo_file2)" />
    </include>
  </group>

</launch>
